/* unvisited link */
.a-white:link {
  color: white;
}

/* visited link */
.a-white:visited {
  color: white;
}

/* mouse over link */
.a-white:hover {
  color: white;
}

/* selected link */
.a-white:active {
  color: white;
}